.svg {
	flex-shrink: 0;

	& :not(.fill) {
		stroke-width: 2;
		stroke: currentColor;

		&.focus {
			color: var(--primary);
		}
	}

	& .fill {
		fill: currentColor;

		&.focus {
			fill: var(--primary);
		}
	}
}
