.aside {
	width: 175px;
	height: 100%;
	display: flex;
	padding: var(--spacing);
	gap: var(--spacing);
	flex-direction: column;
	white-space: nowrap;
	transition: width var(--timing) linear;
	border-right: 2px solid var(--divider);
	background: var(--grey6);

	&.mini {
		width: 70px;

		& > .nav > p {
			flex-basis: 0%;
		}

		& > button {
			transform: rotateY(0deg);
		}
	}

	& > button {
		width: fit-content;
		margin-inline: auto;
		padding: 0;
		transition:
			transform var(--timing) linear,
			background-color var(--timing) linear;
		transform: rotateY(180deg);
		border-radius: var(--spacing);
		border: none;

		&:hover,
		&:active,
		&:focus-visible {
			background-color: var(--grey5);
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	text-transform: capitalize;
	transform: background-color var(--timing) linear;
	border-radius: var(--spacing);

	&:hover,
	&:active,
	&:focus-visible {
		background-color: var(--grey5);

		& * {
			color: var(--primary);
		}
	}

	& > svg {
		flex-shrink: 0;
	}

	& > p {
		flex-basis: 100%;
		overflow: hidden;
		font-weight: 500;
	}
}
